/* .leftPic > img{
    height: 100%;
    width: 100%;
    object-fit: contain;
} */
/* .productCard .singleCard{
    width: 170px;
    height: 307px;
    background: #000;
}
.productCard .singleCard > img{
   height: 100%;
   width: 100%;
   object-fit: cover;
} */