/* .card1{
    height: 100%;
    width: 100%;
    background: url(../../Assets/Rectangle\ 967.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.hoverImg::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.6;
  border-radius: 10px;
  z-index: 1;
} */

.card {
  position: relative;
  transition: all .5s ease-in;
}
.card__overlay {
  border-radius: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: none;
  transition: .5s ease-in-out;
  background-color: rgba(114, 112, 114, 0.801);
}

.card:hover .card__overlay {
  opacity: 1;
}

.overlay__text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}