.middleBackground{
    background: url('../../Assets/Rectangle\ 942.png');
    height: 24rem;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 5px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.middleBackground > div {
    background: rgba(255, 255, 255, 0.82);
    backdrop-filter: blur(3px);
}
