.navbar{
    background: #FFFEFE;
}
.scrolled{
    background: #ffffff;
    box-shadow: 1px 1px 30px rgba(1, 35, 41, 0.205);
    position: sticky;
    top: 0;
    z-index: 999;
}
.cartNumber{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #363853;
}
@media only screen and (max-width: 767px){
	.navMenu{
        width: 100%;
        height: 300px;
        background: #f2f2f2;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        top: 84px;
        left: 0px;
        padding: 20px 0px;
        transition: all 0.5s ease;
    }

    .navMenuMobile{
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        position: absolute;
        top: 84px;
        left: -110%;
        transition: all 0.5s ease;
    }
    .menuItems{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}